
/* Fontlar */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
    background: white;
    font-family: 'Times new roman';
    margin: 150px;
}

.container { 
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.under-header {
    background: #EEEEEE;
}

footer h4, footer a{
    padding: 0;
    margin: 0;
    
}

.footer-block div {
    display: inline-flex;
    width: 37%;
    margin: 0px 1px;
}
.footer-block {
    width: 100%;
}